################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/e-CommerceApp/e-CommerceApp.sln
